html, body {width: 100% !important;}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: #F9F9F9 url(/images/background.svg);
	margin: 0;
	padding: 0;
}

#wrapper { 
	margin: 0 auto;
	background: transparent;
	max-width: 1170px;
}

#inner-wrapper { 
	margin: 0;
	padding: 0;
	background: transparent;
}

ul.lang {
	margin: 0;
	padding: 10px 15px 10px 0;
	text-align: right;
	background: transparent;
}
ul.lang li {
	display: inline;
	margin-bottom: 0;
	padding-bottom: 0;
}
ul.lang a {
	color: #F2F6FC;
	background: transparent;
	text-decoration: none;
	padding: 0 0.5em;
	margin: 0;
}
ul.lang a:hover {
	color: #000;
}

#top {
	margin: 0;
	padding: 0;
	height: 39px;
}

ul#topright {
	float: right;
	position: relative;
}

ul#topleft {
	float: left;
	position: relative;
}

ul#topright, ul#topleft {
	margin: 0;
	padding: 8px 15px 0 10px;
	height: 39px;
}
ul#topright li, ul#topleft li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type:none;
}

#top a {
	padding-left: 25px;
	font-size: 16px;
	color: #3394ce;
	background: transparent;
	text-decoration: none;
}

#top a.active, #top a.special {
	font-weight: bold;
}

#top a.edge {
	padding-right: 10px;
}
#top a:hover {
	color: #236892;
}

a#logo {
	background: url(https://fsfe.org/graphics/motto.jpg);
	width: 100%;
	z-index: 1000;
}
a#logo:hover {
	background: transparent url(template/logo.png) 0 -129px no-repeat;
}

* html a#logo {
position: absolute;
behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
this.src = "transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
this.runtimeStyle.backgroundImage = "none")),this.pngSet=true)
);
cursor: hand;
}

#toplogin-form {
	position: absolute;
	top: 38px;
	right: 8%;
	margin-right: 8px;
	padding: 0 0 0 10px;
	height: 84px;
	width: 239px;
	background: transparent url(template/login.png) top left no-repeat;
	z-index: 1000;
}

#toplogin-form input.loginfield {
	display: block;
	margin-top: 12px;
	width:112px;
}
#toplogin-form input.button {
	float: right;
	margin:-23px 25px 0 0;
	width:93px;
	height:22px
}


* html #content {
   height: 0.1%;
}

#contenttop {
	position: relative;
	margin-top: 0px;
}
#contenttop div {
	position: relative;
	height: 12px;
	margin: 0;
}

#menu {
	background: #F9F9F9;
	position: relative;
	background: transparent;
}
#menuinner {
	color: #3394ce;
	background: #F9F9F9;
	margin-left: 2px;
}

#menu h2 {
	background: #DED8D8;
	position: relative;
	margin: 0;
	padding: 0.2em 0;
	text-align: center;
	font-size: 1.2em;
}
#menu h2.top {
	margin: 0;
	padding: 0.1em;
	text-align: center;
}

#menu ul {
	margin: 0 0 10px 0;
	padding: 10px 0;
	display: none;
}
#menu ul li {
	margin: 0;
	list-style-type: none;
	background: transparent;
}

#menu ul ul, ul ul ul {
	background: transparent;
}


#menu ul a, #menu ul a:visited, li span {
	font-weight: bold;
	text-decoration: none;
	color: #3394ce;
	margin-left: 30px;
	padding-left: 20px; 
	line-height: 2.2em;
}
#menu li span {
	background: transparent;
}

#menu ul a:hover {
	color: #236892;
}

#menu img#fsfecard {
	margin: 10px 0;
}

#menu a#fsfelogo {
	position: relative;
	display: block;
	width: 158px;
	height: 83px;
	border: none;
	margin: 20px 0 0 11px;
	padding-left: 0;
	background: transparent url(template/logo-fsfe.png) top left no-repeat;
}

#menu form#menusearch {
	height: 57px;
	width: 179px;
	background: transparent url(template/search.png) top left no-repeat;
}
#menu form#menusearch input.searchtext {
	width:105px;
	float: left;
	margin: 14px 0 0 14px;
}

#menu form#menusearch input.searchimage {
	float: right;
	width: 34px;
	height: 35px;
	margin: 10px 13px 0 0;
}

#content {
	background: #fff;
	margin: 0em auto 1em;
	padding:  0 1.5em 1.5em;
	font-size: 16px;
	box-shadow: 0 .4em 1em #c8c8c8;
/*
	position: relative;
	margin-top: 0;
	background: white;*/
}

h2.date {
	font-size: 1.3em;
	color: #3394ce;
}

#text {
	position: relative;
	padding-bottom: 1em;
        word-wrap: break-word;
}

#text h1 {
	font-size: 1.4em;
}
#text h2 {
	font-size: 1.3em;
}
#text h3 {
	font-size: 1.22em;
}
#text h4 {
	font-size: 1.1em;
}
#text h5 {
	font-size: 1em;
}
#text h6 {
	font-size: 0.9em;
}

#text h2.topbanner {
	margin: 1.2% 1.2% 0 0;
	padding: 0.3em 0 0.3em 0.35em;
	font-size: 1em;
	font-weight: normal;
	color: #3394ce;
	background: #BAE37F;
	border: 1px solid #3394ce;
}

#text ul {
}
#text ol {
}
#text ol ol {
	list-style-type: upper-alpha;
}

#text form {
	margin-right: 1.2%;
}
#text form label {
	margin-right: 1em;
}
#text form input {
	position: relative;
}

#text fieldset {
	background: #F1F8E8;
	margin-top: 1.2em;
	padding: 0.5em 0.5em 0.5em 1em;
	border: 1px solid #3D6300;
}
#text legend {
	font-size: 1.2em;
	font-weight: bold;
	color: #3D6300;
}


#text-top {
	float: left;
	position: relative;
	display: block;
	margin: 1.2% 1.2% 2% 0; 
	padding: 0 1em 2% 1em;
	color: #353535;
	background: #F1F8E8;
	border: 1px solid #3D6300;
}

.collumnleft, .collumnright {
	float: left;
	position: relative;
	display: block;
	width: 48%;
}
.collumnleft {
	margin-right: 3%;
}

#text-top a {
	color: #3394ce;
	/*font-weight: bold; */
	text-decoration: none;
	border-bottom: 1px dotted;
}
#text-top a:hover {
	color: #236892;
}


#text-top h2 {
	font-size: 1.2em;
	color: #3394ce;
	margin-top: 1em;
	margin-bottom: 0.2em;
}

#text-top h2+p, h2+ul {
	margin-top: 0;
}

#text-top ul {
	margin-left: 0;
	padding-left: 0;
	list-style-position: inside;
}
#text-top ul li{
	padding: 0 0 0.2em 0;
}

#newsblog {
	float: left;
	position: relative;
	margin-bottom: 2em;
}

#news {
	float: left;
	position: relative;
	display: block;
	width: 59%
}

#blog { 
	float: right;
	position: relative;
	display: block;
	width: 38%;
	margin-right: 1.2%;
}

#news h2, #blog h2 {
	color: #000;
	background: #DEF5A9;
	padding-left: 0.15em;
	border-bottom: 1px solid #515546;
}

.newsitem, .blogitem {
	border-bottom: 1px dotted #515546;
	padding: 1em;
	overflow: auto;
	line-height: 1.5em;
}

.newsitem p, .blogitem p {
	margin-bottom: 0.2em;
}

.newsitem h3, .blogitem h3 {
	font-size: 1em;
	margin-bottom: 0.1em;
}
.newsitem h3+p, .blogitem h3+p {
	margin-top: 0;
}

.newsitem h3 a.newstitle, h3 a.newstitle:visited, .blogitem h3 a.blogtitle, h3 a.blogtitle:visited {
	color: #000;
	text-decoration: none;
}
.newsitem h3 a.newstitle:hover, .blogitem h3 a.blogtitle:hover {
	color: #868686;
}

.newsitem a.newslink, a.newslink:visited {
	font-style: italic;
	color: #000;
	background: #DEF5A9;
	text-decoration: none;
}
.newsitem a.newslink:hover {
	color: #868686;
}

.blogitem a.comment, a.comment:visited {
	font-size: 0.8em;
	font-weight: bold;
	text-decoration: none;
	color: #3394ce;
}
.blogitem a.comment:hover {
	color: #236892;
}

.blogitem pre {
	overflow: auto;
}


p.clear {
	clear: both;
}
p.block {
	display: block;
}

#footer {
	margin: 1em 1em 0 0;
	padding-top: 2.5em;
	text-align: center;
	font-size: 0.9em;
}
#footer p {
	line-height: 1em;
	margin: 0;
	padding: 0;
}

#contentbottom {
	position: relative;
	display: block;
	margin-top: 0;
}
#contentbottom div {
	position: relative;
	display: block;
	height: 16px;
	margin: 0 0 1.2% 0;
}

.blogitem img {
	border:none;
        max-width: 75%;
        height: auto;
}
.blogitem p a, .blogitem ul li a {
color:#3394ce;
}

.blogitem p a:hover, .blogitem ul li a:hover {
color:#236892;
}

/* text-zoom for Fellowship interviews */
.text-zoom {
  font-size:130%;
  padding:10px;
  margin: 15px 15px 15px 0;
  width:45%;
  border:1px solid #3D6300;
  color:#52AA00;
}
.text-zoom.right {
  float:right;
  margin-left:10px;
}
.text-zoom.left {
  float:left;
}


/* special design for small screens */

@media screen and (max-width : 760px) {

  #topright a {
    font-size: 0px !important;
  }

   #topright a i {
     font-size: 20px !important;
   }

}
