<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="PLANETLANG">
<head>
<title>Community Planet – Free Software Foundation Europe</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-language" content="PLANETLANG" />
<meta name="author" content="Free Software Foundation Europe" />
<meta name="copyright" content="" />
<meta name="description" content="The FSFE planet is a aggregation of blog posts and thoughts of the Free Software community" />
<meta name="keywords" content="planet, rss, blog, fsfe, free software, open source, foss, community, posts, share" />
<link rel="alternate" type="application/rss+xml" title="Planet FSFE" href="/PLANETLANG/rss20.xml" />

<link href="/look/fsfe.min.css" rel="stylesheet" media="all" type="text/css" />
<link href="/look/print.css" rel="stylesheet" media="print" type="text/css" />
<link href="/graphics/fsfe.ico" rel="icon" type="image/x-icon" />
<link href="/look/custom.css" rel="stylesheet" type="text/css" />

<!--[if lt IE 9]>
  <script src="https://fsfe.org/scripts/html5shiv.js"></script>
  <script src="https://fsfe.org/scripts/respond.min.js"></script>
  <![endif]--><!--[if (lt IE 9) & (!IEMobile)]>
  <link rel="stylesheet" media="all" href="https://fsfe.org/look/ie.min.css" type="text/css">
<![endif]-->

</head>
<!-- start FSFE header -->

<body>

<header id="top">

<nav id="menu" role="navigation">
  <div id="language-selection">
    <ul>
       <li><i class="fa fa-user-plus fa-lg" style="padding-right:.3em"></i><a href="https://my.fsfe.org/support">Become a supporter</a></li>
       <input type="checkbox" id="show-menu" />
       <li><i class="fa fa-globe fa-lg dropdown" style="padding-right:.3em"></i><label for="show-menu">Change planet language</label>
          <ul id="dropdown">
            <!-- <li><a href="/da/" title="">Dansk</a></li> -->
            <li><a href="/de/" title="">Deutsch</a></li>
            <li><a href="/" title="">English</a></li>
            <li><a href="/es/" title="">Espa&ntilde;ol</a></li>
            <li><a href="/eo/" title="">Esperanto</a></li>
            <li><a href="/fr/" title="">Fran&ccedil;ais</a></li>
            <li><a href="/it/" title="">Italiano</a></li>
            <li><a href="/nl/" title="">Nederlands</a></li>
            <li><a href="/gmq/" title="">Nordic</a></li>
            <li><a href="/no/" title="">Norsk</a></li>
            <li><a href="/fi/" title="">Suomi</a></li>
            <!-- <li><a href="/sl/" title="">Sloven&#353;&#269;ina</a></li> -->
            <li><a href="/sv/" title="">Svenska</a></li>
          </ul>
       </li>
    </ul>
  </div>
  <ul id="menu-list">
    <li><a href="https://fsfe.org/about/about.html">About</a></li>
    <li><a href="https://fsfe.org/work.html">Our Work</a></li>
    <li><a href="https://fsfe.org/campaigns/campaigns.html">Campaigns</a></li>
    <li><a href="https://fsfe.org/contribute/contribute.html">Contribute</a></li>
    <li><a href="https://fsfe.org/press/press.html">Press</a></li>
  </ul>
</nav>

<div id="masthead">
  <div id="link-home"><a href="https://fsfe.org">Home</a></div>
  <div id="logo"><span>Free Software Foundation Europe</span></div>
  <div id="motto"><span>Free Software, Free Society!</span></div>
</div>
</header>

<section id="main">

  <div class="motto">
    <div class="motto-text">
      <TMPL_VAR name>
    </div>
  </div>

  <article id="content">

  <div class="blogitem" align="center">
  <p><a href="/PLANETLANG/rss20.xml"><img src="/graphics/feed.png" alt="" /> RSS 2.0</a> | <a href="/PLANETLANG/atom.xml"><img src="/graphics/feed.png" alt="" /> Atom</a> | <a href="/PLANETLANG/foafroll.xml"><img src="/graphics/foaf.png" alt="" /> FOAF</a> | <a href="/PLANETLANG/opml.xml"><img src="/graphics/opml.png" alt="" /></a></p>
  </div>



<TMPL_LOOP Items>
  <TMPL_IF new_date>
    <TMPL_UNLESS __FIRST__>
    ### End <div class="daygroup">
    </div>
    </TMPL_UNLESS>
    <div class="daygroup">
    <h3 class="date"><TMPL_VAR new_date></h3>
  </TMPL_IF>

  <div class="blogitem">
  <TMPL_IF title>
    <h2>
    <a href="<TMPL_VAR link ESCAPE="HTML">" class="blogtitle"><TMPL_VAR title></a>
    <TMPL_IF channel_face>
    <img class="face" src="/faces/<TMPL_VAR channel_face ESCAPE="HTML">" width="<TMPL_VAR channel_facewidth ESCAPE="HTML">" height="<TMPL_VAR channel_faceheight ESCAPE="HTML">" alt="" style="float:right;" />
    </TMPL_IF>
    </h2>
  </TMPL_IF>
    <p>
      <ul class="archivemeta">
        <li><a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title_plain ESCAPE="HTML">"><TMPL_VAR channel_name></a></li>
        <li class="archiveauthor">—</li>
        <li><TMPL_VAR date></li>
      </ul>
    </p>
  <TMPL_VAR content>
  </div>

  <TMPL_IF __LAST__>
  ### End <div class="daygroup">
  </div>
  </TMPL_IF>
</TMPL_LOOP>




<div class="blogitem" align="center">
  <p>
  Planet FSFE (PLANETLANG): <a href="/PLANETLANG/rss20.xml"><img src="/graphics/feed.png" alt="" /> RSS 2.0</a> | <a href="/PLANETLANG/atom.xml"><img src="/graphics/feed.png" alt="" /> Atom</a> | <a href="/PLANETLANG/foafroll.xml"><img src="/graphics/foaf.png" alt="" /> FOAF</a> | <a href="/PLANETLANG/opml.xml"><img src="/graphics/opml.png" alt="" /></a>
  </p>
  <p>
  <TMPL_LOOP Channels>
  <img src="/graphics/feed.png" alt="" /> <a href="<TMPL_VAR link ESCAPE="HTML">" title="<TMPL_VAR title ESCAPE="HTML">"><TMPL_VAR name></a>&nbsp;
  </TMPL_LOOP>
  </p>
</div>

  </article>
</section>

<footer id="bottom">
  <section id="legal-info">
    <p>
      Run by <a href="https://fsfe.org/">Free Software Foundation Europe</a>.<br />
      Powered by <a href="http://intertwingly.net/code/venus/"><img src="/graphics/venus.png" border="0" alt="" /></a><br />
      The FSFE planet is licensed under <a href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank">AGPL-3.0</a> or later.
      See the <a href="https://git.fsfe.org/fsfe-system-hackers/fsfe-planet" target="_blank">code repository</a> for more info.
    </p>
    <ul>
     <li>
      <a href="https://fsfe.org/contact/contact">Contact us</a>
     </li>
     <li>
      <a href="https://fsfe.org/about/legal/imprint">Imprint</a>
      /
      <a href="https://fsfe.org/about/legal/imprint#id-privacy-policy">Privacy Policy</a>
      /
      <a href="https://fsfe.org/about/transparency-commitment">Transparency Commitment</a>
     </li>
    </ul>
    <p>
      Planet FSFE is a blog aggregator; the opinions expressed here do
      not constitute a statement by the <a
      href="https://fsfe.org">FSFE</a>. Please <a
      href="https://fsfe.org/contact/contact">contact us</a> if you
      experience problems with this page.
    </p>
  </section>
</footer>
</body>
</html>
